
<mat-toolbar color="primary">
        Cuentas Aritmeticas
        </mat-toolbar>

<div class="background">
        <img src="../../../assets/blackboard.jpg" alt="">
      </div>




<div class="container">
  <div class="panel panel-default blackboard-outer">
      <div class="panel-body blackboard">
            <mat-card>
            <mat-card-content>
                    <p class="question">{{question}}</p>
                   
            
            </mat-card-content>   
         
        </mat-card>
         <!-- <p class="question text-center">{{question}}</p>-->


          <div class="row">

                <div class="col-sm-6 col-xs-8">
                    <input type="text" class="form-control" id="answer" placeholder="Answer here!!!!" [(ngModel)]="userAnswer" x-webkit-speech onwebkitspeechchange="onVoiceAnswer()">
                </div>
              
                
                <div class="col-sm-2 col-xs-4 col-lg-6 col-xl-6">
                    <button class="btn btn-primary center-block full-width" (click)="onSubmitAnswer()" id="submitbutton">Responder</button>
                </div>
                
               <!-- <div class="col-sm-2 col-xs-4 col-lg-6 col-xl-6">
                    <button class="btn btn-danger center-block full-width" (click)="skipQuestion()">Skip</button>
                </div>-->
                
            </div>

            <div>
                    <button class="btn btn-primary center-block full-width" (click)="Volver()" id="submitbutton">Volver</button>
                </div>
              
                <div>
                    <button class="btn btn-primary center-block full-width" (click)="Salir()" id="submitbutton">Salir</button>
                </div>

      </div>
  </div>
</div>









