<div class="background">
    <img src="../../../assets/background.jpg" alt="">
</div>



<div class="container">

    <h4>Axel Francisco Quinteros 4A</h4>
    <h1>SALITA DE JUEGOS</h1>

    <h1>Iniciar sesión</h1>

    <input type="text" placeholder="Nombre" [(ngModel)]="correo" />
    <input type="password" placeholder="Contraseña" [(ngModel)]="password" />

    <span>¿No tienes una cuenta? <a routerLink="/registro" routerLinkActive="active">Registrate</a></span>
    
    <button (click)="Logear()">Iniciar sesión</button>

    <div class="botones">
          <!--  <button (click)="Setear('hola', '1234')">admin</button>
            <button (click)="Setear('test', '12345')">cliente</button>

            <button (click)="Probando()">pruebaGet</button>
            <button (click)="ProbandoDos()">pruebaPost</button>-->
    </div>



</div>