




<div class="background">
  <img src="../../../assets/ps4tres.jpg" alt="">
</div>

<div class="container">

    
    <h1>SALITA DE JUEGOS</h1>

    <h3>Elija Un Juego Para Divertirse</h3>

  
     <button type="button" class="btn btn-default" data-dismiss="modal" (click)="primero()">PIEDRA PAPEL O TIJERA</button>
    
            <button type="button" class="btn btn-primary"  (click)="segundo()">ANAGRAMA</button>
          
             <button type="button" class="btn btn-danger" (click)="tercero()">CUENTAS ARITMETICAS</button>
            
            
           <button type="button" class="btn btn-primary"  (click)="cuarto()">SECRETO</button>



</div>






           
            

        
          


          
          