
    

<div class="container">

        <div class="background">
                <img src="../../../assets/ps4dos.jpg" alt="">
            </div>

    <h1>Registro</h1>

    <input type="text" placeholder="Ingresa tu nombre" [(ngModel)]="correo" />
    <input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" />

  <!--  <select [(ngModel)]="tipo">
        <option value="cliente">Cliente</option>
        <option value="admin">Administrador</option>
    </select>-->

    <button (click)="Registrar()">Registrarse</button>

</div>