table {
    
    border-collapse: collapse;
    width: 100%;
   
    border: 4px solid black;
    
}

td {
    height: 50px;
    vertical-align: bottom;
    padding: 15px;
    text-align: left;
}

mat-card
{
    background-color: black;
}