
<div class="background">
    <img src="../../../assets/premios.jpg" alt="">
  </div>


  <div class="container">

  <font size="10" color=blue face="Helvetica" >

<h1>Cuentas Aritmeticas</h1>

</font>

<mat-card>
  

    <mat-card-content>


<font size="7" color=white face="Courier New" >
<table>
    <tr>
      <td>Usuario</td>
      <td>Puntaje Maximo</td>
     
    </tr>
  
  </table>
  
  
  <table *ngFor="let emp of dataSource | sort : '-tres'">
  <tr>
    
  
  
      <td style="width: 10%;">{{emp.correo}}</td>
      <td style="width: 5%;">{{emp.tres}}</td>
      
      
    </tr>
  </table>

</font>

</mat-card-content>
  

</mat-card>

<div>
    <button class="btn btn-primary center-block full-width" (click)="Volver()" id="submitbutton">Volver A Jugar</button>
</div>

<div>
    <button class="btn btn-primary center-block full-width" (click)="Salir()" id="submitbutton">Salir</button>
</div>

</div>